*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
.vscode/
raw_data/
notebooks/
diversity_in_cinema/face_averaging/outputs

*.csv
*.png
*.jpg
*.gz

**/__pycache__/
.env
*.h5
.python-version
pre-trained_models/
